<html>
    <div class = "top">
        <img src="../../assets/images/garden.png" alt = "garden" width= "1000" height = "400"/>
        <h1>Our Mission</h1>
        <p>Since being founded in 2022, Go Green strives to produce only the highest quality, sustainable, and inexpensive 
            plant related goods. Such as pots, flowers, plants, gardening equipement, and so much more! 
            Our highly talented team are experts in there field, they know almost everything their is to know 
            about gardening. We hope you enjoy your time shopping at Go Green!
        </p>
    </div>
    <div class = "founder">
        <h1>Our Founders</h1>
    </div>
    <div class = "flex-grid">
        <div class = "grid-item">
            <img src="../../assets/images/stock1.jpg" width="400"/>
            <p>Hi, I'm Alec! As the Chief Quality Assurance officer, it is my job to ensure that every product we 
                sell is of the highest quality. I strive myself on the ability to tell a good pot from a bad one. 
                I hope you enjoy our company! Go Green!
            </p>
        </div>
        <div class = "grid-item">
            <img src="../../assets/images/stock2.jpg" width="400" height="300"/>
            <p>Hi, I'm Blake! As the Chief Legal expert, it is my job to ensure every product is up to industry
                 standard when it comes to containing our plants. Knowing the law is incredibly important when 
                 it comes to pots, you can coun't on me to get it right! Go Green!
            </p>
        </div>
        <div class = "grid-item">
            <img src="../../assets/images/stock3.jpg" width="400"/>
            <p>Hi, I'm Chris! As the Chief Marketing Officer, it is my job market all of our fantastic products and 
                show the world what our amazing company has to offer. I hope you enjoy! Go Green!
            </p>
        </div>
        <div class = "grid-item">
            <img src="../../assets/images/stock4.jpg" width="400"/>
            <p>Hi, I'm Ian! As the Chief of Research and Development, it is my job to combine and find 
                new pot materials that are stronger than and more resistant than ever before. 
                I love my job and wouldn't change it for the world! Go Green!
            </p>
        </div>
    </div>
</html>